cltl.backend[impl,host,service]
cltl.asr[impl,service]
cltl.vad[impl,service]
cltl.chat-ui
cltl.brain
cltl.triple_extraction
cltl.reply_generation
cltl.emissor-data[impl,service]
cltl.leolani

flask
werkzeug
