[cltl.backend]
run_server: False

[cltl.backend.mic]
topic:
 
[cltl.backend.image]
topic:

[cltl.backend.tts]
remote_url:

[cltl.vad]
implementation:

[cltl.asr]
implementation:

[cltl.face_recognition]
implementation:

[cltl.object_recognition]
implementation:
 
[cltl.emotion_recognition]
impl:

[cltl.face_emotion_recognition]
implementation:
 
[cltl.dialogue_act_classification]
implementation:
 
[cltl.g2ky]
implementation: verbal