[cltl.audio]
sampling_rate: 16000
channels: 1
sample_depth: 2
frame_size: 480

audio_resource: cltl.backend.resource.audio
mic_resource: cltl.backend.resource.microphone

[cltl.backend]
server_url: http://0.0.0.0:8000/host
storage_url: http://0.0.0.0:8000/storage
audio_storage_path: ./storage/audio
audio_source_buffer: 16

[cltl.backend.mic]
topic: cltl.backend.topic.microphone

[cltl.chat-ui]
name: chat-ui
agent_id: leolani

[cltl.chat-ui.events]
local: True
topic_utterance: input
topic_response: output

[cltl.eliza]
topic_input = input
topic_output = output

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2