[cltl.audio]
sampling_rate: 16000
channels: 1
sample_depth: 2
frame_size: 480

audio_resource: cltl.backend.resource.audio
mic_resource: cltl.backend.resource.microphone

[cltl.video]
resolution: VGA
camera_index: 0

[cltl.backend]
### To run locally with system
server_url: http://0.0.0.0:8000/host
server_mic_url: http://0.0.0.0:8000/host
### To run on pepper
%%server_url: http://192.168.1.176:8000
storage_url: http://0.0.0.0:8000/storage/
audio_storage_path: ./storage/audio
audio_source_buffer: 16
image_storage_path: ./storage/video
image_cache: 32

[cltl.backend.mic]
topic: cltl.topic.microphone

[cltl.backend.image]
topic: cltl.topic.image
rate: 0.1

[cltl.backend.tts]
topic: cltl.topic.text_out

[cltl.vad]
mic_topic: cltl.topic.microphone
vad_topic: cltl.topic.vad

[cltl.vad.webrtc]
activity_window: 300
activity_threshold: 0.8
allow_gap: 300
padding: 600

[cltl.asr]
implementation: wav2vec
sampling_rate: 16000
vad_topic: cltl.topic.vad
asr_topic: cltl.topic.text_in

[cltl.asr.wav2vec]
# model: facebook/wav2vec2-large-960h
model: jonatasgrosman/wav2vec2-large-xlsr-53-english

[cltl.asr.speechbrain]
# model: speechbrain/asr-transformer-transformerlm-librispeech
model: speechbrain/asr-wav2vec2-commonvoice-en

[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: True

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out

[cltl.eliza]
topic_input = cltl.topic.text_in
topic_output = cltl.topic.text_out

[cltl.leolani]
topic_input = cltl.topic.text_in
topic_output = cltl.topic.text_out

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2

