[loggers]
keys: root,werkzeug,triples_analyzer,triples_cfg

[handlers]
keys: console

[formatters]
keys: pepperFormatter

[logger_root]
level: INFO
handlers: console

[logger_werkzeug]
level: ERROR
qualname=werkzeug
handlers: console

[logger_triples_analyzer]
level: ERROR
qualname=cltl.triple_extraction.analyzer
handlers: console

[logger_triples_cfg]
level: ERROR
qualname=cltl.triple_extraction.cfg_analyzer
handlers: console

[handler_console]
class: StreamHandler
level: NOTSET
formatter: pepperFormatter
args: (sys.stdout,)

[formatter_pepperFormatter]
format: %(asctime)s %(levelname)-8s %(name)-60s %(message)s
datefmt: %x %X



